# Ignore all files by default
*

# Allow .gitignore
!.gitignore

# Allow specific files or folders
!README.md
!specific_folder/
.Rproj.user

!DS116*/
!DS116*/**/Data/
!DS116*/**/Img/
!DS116*/**/*.Rmd
!DS116*/**/*.pdf
!DS116*/**/latex-topmatter.tex
